@use "sass:math";
@import 'svg';

* {
    /* clear default margins and paddings*/
    margin: 0; padding: 0;

    /* remove highlight color when tapping on a link */
    -webkit-tap-highlight-color: transparent;

    /* disable text magnifier pop-up on click and hold (iPhone) */
    -webkit-touch-callout: none; 
    -webkit-user-select: none;

    /* disable outline when tabbing through UI elements */
    outline: none;
}

ul {
    /* disable bullets in lists */
    list-style: none;
}

li {
    /* avoid vertical space between cells when cells are small */
//    font-size: 1px;
}

html, body { 
    height: 100%;

    /* disable chrome browser pull-down-to-refresh */
    overflow-y: hidden;

    background-color: #222;
}

$col: #ff6600;

.game {
    padding: 20px;

    .board {
        background-color: $col;
        width: 100%;
        height: auto;
/*
        $svg: (
            '<path fill="red" stroke="black" stroke-width="5" d="M10,10 L80,30 L40,70 Z" />'
        );
        @include svg($svg, 0, 0, 100, 100);
*/


    }
}

.deck {
    width: 100%;
    text-align: right;
}

.cards li, .deck li {
    display: inline-block;
    vertical-align: top;

    width: percentage(1/7);
    height: auto;
    padding: 4% 0;

    box-sizing: border-box;
    text-align: center;
}

// card suit colors
.spades, .clubs {
    color: black;
}

.hearts, .diamonds {
    color: red;
}

// card status
.nah {
    border: 1px dashed white;
    background-color: #ddd;
}
.sel {
    border: 1px solid black;
    background-color: #ccc;
}
.opt {
    border: 1px solid green;
    background-color: #88dd88;
}

// card backside
.deck li.back {
    background-color: green;
    color: white;
    border: 1px solid black;
}